<div class="container text-center pt-3 pb-5"
     style="background-image: radial-gradient(#95a5a4, #708785, #627370); color: white; min-height: 750px;">

  <div class="row">
    <div class="col">
      <h4>
        마이멘토 학습을 시작하기 위한
      </h4>
      <h1 style="font-size: 4.5rem;">
        입회테스트
      </h1>
      <h4 style="color: #04dedb;">advanced</h4>
    </div>
  </div>


  <div class="row justify-content-center">
    <div class="col col-lg-3">
      <img src="assets/img/listening_button.png" alt="listening button">
    </div>
    <div class="col col-lg-3">
      <img src="assets/img/reading_button.png" alt="reading button">
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col col-lg-3">
      <img src="assets/img/speaking_button.png" alt="speaking button">
    </div>
    <div class="col col-lg-3">
      <img src="assets/img/writing_button.png" alt="writing button">
    </div>
  </div>

  <div class="row">
    <div class="col text-right">
      <hr style="color: yellow; background-color: yellow;">
      <span>* 시험 결과는 영역별로 저장됩니다.</span>
    </div>
  </div>

</div>
